body {
    background-image: url(/pink_background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    /*font-family: 'Bonbon', cursive;*/
    font-family: Verdana, Geneva, sans-serif;
    color: #2E0854;
    font-size: 2em;
}

a {
    text-decoration: none;
    /*color: #4B0082;*/
    color: #0000FF;
}

a:hover {
    /*color: #9932CC;*/
    color: #FF0000;
    text-decoration: underline;
}
