<h1> Here is your <%=@survey.title%> Survey! </h1>
<ul>
<%@survey.questions.each do |question|%>
Question: <%= question.text %>
<% question.choices.each do |choice|%>
<li><%= choice.text%></li>
<%end%>
<%end%>
</ul>
<ul>
<li><a href="/surveys">Clicking this button sends your survey into the world- NOTE: You cannot edit your survey after it's been submitted.</a></li>

<li><a href="">Edit questions</a></li>
</ul>