<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/my_css.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Primate</title>
</head>
<body>
  | <a href="/">Home</a> |
  <% if logged_in? %>
    <a href="/users/new">Logout</a>
    | <a href="/surveys/new">Create a New Survey</a> |
  <% end %>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
