<form action='/votes' method='POST'>
  <input type='hidden' name='taken_survey[id]' value="<%= taken_survey.id %>">
 <input type='hidden' name='vote[voter_id]' value="<%= current_user.id%>">
  <% question.choices.each do |choice| %>
    <input type="radio" name="vote[choice_id]" value="<%=choice.id%>"><%=choice.text%><br>
  <% end %>
  <input type='submit' value='answer me' />
</form>


